<div id="updatePlot" hx-swap-oob="true">

<script>
var layoutUpdate = {
    title: {
        text: '{{tstamp}}'
    },
    paper_bgcolor: 'rgba(0,0,0,0)',
    plot_bgcolor: 'rgba(0,0,0,0)',
    autosize: false,
    width: 512,
    height: 512,
    margin: {
        l: 50,
        r: 50,
        b: 50,
        t: 50,
    },
    };

var z_data=[];
{% for x in mylist %}
z_data.push({{ x }});
{% endfor %}

var dataUpdate = [{
    z: z_data,
    type: 'surface'
}];

Plotly.react(myDiv, dataUpdate, myDiv.layout)

</script>

{{tstamp}}
</div>